{{template "base" .}}

{{define "title"}}User Profile{{end}}

{{define "main"}}
    <h2>User Profile</h2>
    {{with .User}}
    <table>
      <tr>
        <th>Name</th>
        <td>{{.Name}}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{.Email}}</td>
      </tr>
      <tr>
        <th>Joined</th>
        <td>{{humanDate .Created}}</td>
      </tr>

    </table>
    {{end}}
{{end}}
